body {
  font-family: "Roboto", sans-serif;
  background-color: #e6e2d4;
}

.container {
  max-width: 1024px;
  /* height: 800px; */
  margin: 0 auto;
  background-color: white;
  border: 1px solid #008000;
  display: grid;
  grid-template-areas:
    "header main"
    "aside main"
    "aside main"
    "footer main";
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr 20% 1fr 10%;
  /* grid-row-gap: 10px; */
  /* grid-column-gap: 10px; */
	margin-top: 30px;
}

@media (max-width: 620px) {
  .container {
    font-size: 80%;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    /* grid-template-rows: 80px 1fr 70px 1fr 70px;  */
    grid-template-columns: 100%;
		grid-template-rows: auto;

    justify-items: center;
  }
	header, aside, footer {
		width: 100%;
	}
}

section {
  border-bottom: 1px solid #000000;
}

header {
  /* border: 1px solid blue; */
  grid-area: header;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: whitesmoke;

}
aside {
  /* border: 1px solid gray; */
  grid-area: aside;
  /* justify-items: center; */
  background-color: whitesmoke;
  margin: 0px;

}
main {
  /* border: 1px solid red; */
  grid-area: main;
  padding: 15px;
  /* border: 1px solid gray; */
}
footer {
  /* border: 1px solid black; */
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  /* padding: 10px; */
	background-color: whitesmoke;

}

.photo img {
  max-width: 250px;
  /* border: 2px solid whitesmoke; */
  border-radius: 50%;
  /* float: right; /* Выравнивание по правому краю */
  margin: 5px 5px 0 5px; /* Отступы вокруг фотографии */
  width: 90%;
}

.links {
  /*display: inline-block;*/
  text-align: left;
  margin-left: 0px;
}
li {
  list-style-type: none;
}
ul {
	padding-left: 20px;
}

.fa-github {
  font-size: 50px;
  color: #cccccc;
  text-decoration: none;
  transition: 1s linear;
}
.fa-github:hover {
  color: black;
}

.rssvg {
  height: 50px;
  /* background-image: url("/img/rs_school_js.svg"); */
  /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
}
