* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
  /* font-family: "Roboto", sans-serif; */
  background-color: #e6e2d4;
	font-family: 'Montserrat', sans-serif;
	/* font-size: 20px; */
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
header {
	display: none;
	margin: 0px;
	padding: 0px;
}

.burger-menu-button {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 30;
	width: 60px;
	height: 60px;
	border-radius: 10%;
	background-color: #c0c0c0;
}
.burger-menu-button:hover .burger-menu-lines {
	filter: brightness(0.9);
}

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
	position: absolute;
	width: 40px;
	height: 6px;
	background-color: #ffffff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger-menu-lines::before {
	content: "";
	top: -14px;
}
.burger-menu-lines::after {
	content: "";
	top: 14px;
}
.burger-menu-active .burger-menu-lines {
	background-color: transparent;
}
.burger-menu-active .burger-menu-lines::before {
	top: 0px;
	transform: rotate(45deg);
}
.burger-menu-active .burger-menu-lines::after {
	top: 0px;
	transform: rotate(-45deg);
}
.burger-menu-nav {
	padding-top: 60px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	width: 100%;
	background-color: #c0c0c0;
	opacity: 90%;
	overflow-y: auto;
	top: -100%;
}
.burger-menu-active .burger-menu-nav {
	top: 0px;
}
.burger-menu-link {
	padding: 10px;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	color: #ffffff;
}
.burger-menu-link:hover {
	filter: brightness(0.9);
}
.burger-menu-overlay {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}
.burger-menu-active .burger-menu-overlay {
	display: block;
	/* background-color: rgba(0, 0, 0, 0.5); */
	
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-areas:
    "aside main"
    "aside main"
    "aside main"
    "footer main";
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr 20% 1fr 10%;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 10px 10px 50px #aaaaaa;
}

@media screen and (max-width: 767px) {
  .container {
		width: 100vw;
		padding-top: 0px;
		margin: 0px;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: 100vw;
		grid-template-rows: auto;
		box-shadow: none;
  }
	header {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 60px;
		background-color: #c0c0c0;
		/* border: 1px solid red; */
	}

	header, aside, footer {
		display: block;
		width: 100vw;
	}
	aside {
		padding: 100px 10% 30px 10%;
		/* border: 1px solid red; */
	}
	.occupation,
	.objective,
	.skills,
	.education,
	.hobby,
	.code {
		margin-top: -80px;
		padding-top: 80px;		
	}

}
pre {
	overflow: auto;
}
p {
	text-align: justify;
}
section {
  border-bottom: 1px solid #000000;
}


aside {
	grid-area: aside;
  background-color: whitesmoke;
  /* margin: 0px; */

}
main {
  /* border: 1px solid red; */

  grid-area: main;
  padding: 15px;
	
  /* border: 1px solid gray; */
}

details, .p-tab {
	padding-left: 40px;
}
footer {
  /* border: 1px solid black; */
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
	
  /* padding: 10px; */
	background-color: whitesmoke;

}
.photo {
	/* border: 1px solid red; */
	text-align: center;
	padding-top: 20px;

}
.photo img {
  max-width: 250px;
  /* border: 2px solid whitesmoke; */
  border-radius: 50%;
  /* float: right; /* Выравнивание по правому краю */
  margin: 5px 5px 0 5px; /* Отступы вокруг фотографии */
  width: 90%;
}

.links {
  text-align: left;
  margin-left: 0px;
}
li {
  list-style-type: none;
}
ul {
	padding-left: 20px;
}

.fa-github {
  font-size: 50px;
  color: #cccccc;
  text-decoration: none;
  transition: 1s linear;
}
.fa-github:hover {
  color: black;
}

.rssvg {
  height: 50px;
}
